* {
    margin: 0;
}
body {
    background-color: #1F2937;
    text-align: center;
    margin-top: 115px;
}

h2 {
    font-family: 'Karla';
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
}

h2 span {
    color: #4ADF86;
}

p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
    margin-top: 10px;
}

button {
    width: 191px;
    height: 42px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    border: none;
}

.border {
    border-bottom: 1px solid #97b0d3;
    width: 446px;
    margin: 35px auto;
}

.container {
    display: flex;
    justify-content: center;
}

.password-box {
    width: 211px;
    height: 30px;
    background: #273549;
    border-radius: 6px;
    margin: 0 12px;
    color: #10B981;
    text-align: center;
    padding-top: 10px;
}
